@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

@layer base {
  html {
    font-family: 'Poppins', sans-serif;
  }
  select {
    appearance: none;
    background-image: url('/angle-down-solid.svg');
    background-size: 12px;
    background-repeat: no-repeat;
    background-position: calc(100% - 1.25rem) center;
  }

  /* /pages/organization */
  @media only screen and (min-width: 768px) {
    .organization::before,
    .organization::after,
    .events::before,
    .events::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 240px;
      height: 240px;
      z-index: -1;
      border-radius: 60px 0px;
      background-color: #d5564d;
      opacity: 0.5;
      transform: translate(-25%, -25%);
    }
    .organization::after,
    .events::after {
      top: initial;
      left: initial;
      width: 240px;
      height: 240px;
      bottom: 0;
      right: 0;
      background-color: #f2cf76;
      transform: translate(25%, 25%);
    }

    /* /pages/events */
    .events::before {
      left: initial;
      right: 0;
      width: 180px;
      height: 180px;
      transform: translate(15%, -15%);
    }
    .events::after {
      right: initial;
      left: 0;
      width: 180px;
      height: 180px;
      transform: translate(-15%, 21%);
    }
  }
}
